
.container {
    width: 100%;
    overflow: hidden;
}

#iview {
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
	position: relative;
	
	margin: 20px auto;
	overflow: hidden;
}

#iview .iviewSlider {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 2px;
}



.iview-controlNav a.iview-control.active {
	background-position: 0px -12px;
}

#iview-preloader {
	border: #ccc 1px solid;
	width: 350px;
	height:15px;
	left:40%
}

#iview-preloader div {
	background: #ccc;
	height:15px;
}


#iview #iview-tooltip div.holder {
	display: block;
	width: 124px;
	height: 84px;
	overflow: hidden;
	border-radius: 2px;
}

#iview #iview-tooltip div.holder div.container {
	display: block;
	width: 4000px;
}

#iview #iview-tooltip div.holder div.container div {
	float: left;
	display: block;
	overflow: hidden;
	width: 124px;
	height: 84px;
	left: -50%;
	text-align: center;
}

#iview #iview-tooltip div.holder div.container div img {
	height: 84px;
	margin: 0 auto;
}
